# Project 2 Part 3B

**Student:** Matthew Malueg

## Loading, Imports, Preparation

In [1]:
import pymysql
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy.types import *
from sqlalchemy.engine import create_engine
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

**Generate databases to work with**

In [2]:
# Load movie titles
title_basics = pd.read_csv('Data/movie_basics.csv')
# Load movie ratings
ratings = pd.read_csv('Data/movie_ratings.csv')

**Creating connection**

In [3]:
connection_str = "mysql+pymysql://root:root@localhost/movies"
engine = create_engine(connection_str)
conn = engine.connect()

## Normalizing and adding 'genres'

**Get a list of unique genres**

In [4]:
# Split the 'genres' column
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...,...
86974,10016149,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
86975,10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
86976,10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
86977,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
86978,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [5]:
# Use .explode() to separate the list of genres into new rows - one for each genre a movie belongs to
exploded_genres = title_basics.explode('genres_split')
exploded_genres

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...,...
86977,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
86977,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
86977,10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
86978,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
86978,10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [6]:
# Get the unique genres from the genres_split column, and format into a sorted list for later use
unique_genres = sorted(exploded_genres['genres_split'].unique())

**Create a new title_genres table**

In [7]:
# Save only the tconst and genres_split columns as a new dataframe
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

**Create a genre mapper dictionary to replace string genres with integers**

In [8]:
# Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
# This method create a dictionary by 'zipping' together two lists
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

**Repalce the string genres in title_genres with the new int ids**
- Create a new genre_id col using genre_map dictionary above, and either .map or .replace
- Drop the now unneeded genres_split column
- title_genres table should now be ready for adding to SQL database

In [13]:
# Make new integer genre_id and drop string genre names
title_genres['genre_id'] = title_genres['genres_split'].replace(genre_map)
title_genres = title_genres.drop(columns='genres_split')

**Create a genre_lookup dataframe for converting genre string names to ints**

In [15]:
genre_lookup = pd.DataFrame({'genre_name': genre_map.keys(),
                             'genre_id': genre_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## Creating the MySQL tables with a primary key with Python